@model WebApplication1.ClientApp.Model.Stage4

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Stage4</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.stage4_ID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.stage4_ID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.stage4_name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.stage4_name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="List">Back to List</a>
    </form>
</div>
