@model WebApplication1.ClientApp.Data.MetaTag

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>MetaTags</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.metatag_ID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.metatag_ID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.metatag_tag)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.metatag_tag)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-default" /> 
    </form>
    <div>
        <if (Request.UrlReferrer !=null>
            <a onclick="history.go(-1); return false;" href="#">Back</a><br />
        </if>
    </div>
</div>
