<div class="login-block">
    <h1>Create new help</h1>
    <input type="text" placeholder="search" id="search" />
    <input type="text" placeholder="stage1" id="stage" /><br />
    <input type="text" placeholder="stage2" id="stage" /><br />
    <input type="text" placeholder="stage3" id="stage" /><br />
    <input type="text" placeholder="stage4" id="stage" /><br />
    <input type="text" placeholder="header" id="header" /><br />
    <input type="text" placeholder="summary" id="summary" /><br />
    <input type="text" placeholder="long help text" id="longtext" /><br />
    <input type="text" placeholder="metatags" id="header" />
    <button (click)="alertAdd()">Add help</button>
    <button (click)="alertEdit()">Edit help</button>
    <button (click)="alertDelete()">Delete help</button>
</div>