@model WebApplication1.ClientApp.Data.Category

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Category</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Category_name" class="control-label"></label>
                <input asp-for="Category_name" class="form-control" />
                <span asp-validation-for="Category_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Parent_ID" class="control-label"></label>
                <input asp-for="Parent_ID" class="form-control" />
                <span asp-validation-for="Parent_ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
<div>
    <if (Request.UrlReferrer !=null>
        <a class="bottomNav" onclick="history.go(-1); return false;" href="#">Back</a><br />
    </if>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
