@model IEnumerable<API.Models.stage4>

@{
    ViewBag.Title = "DDLSearchStage4";
}
<br />
<div class="container">
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
            <input type="text" id="Search" placeholder="Search" class="form-control" />
        </div>
    </div>
</div>

<h2>DDLSearch</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Stage 3 ID</th>
            <th>Stage 3 Name</th>
            <th>Stage 3 Helptext ID</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="Search">
                <td>@item.stage4_ID</td>
                <td>@item.stage4_name</td>
                <td>@item.helptext_ID</td>
            </tr>
        }
    </tbody>
</table>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    $(document).ready(function () {
        function Contains(text_one, text_two) {
            if (text_one.indexOf(text_two) != -1)
                return true;
        }
        $("#Search").keyup(function () {
            var searchText = $("#Search").val().toLowerCase();
            $(".Search").each(function () {
                if (!Contains($(this).text().toLowerCase(), searchText)) {
                    $(this).hide();
                }
                else {
                    $(this).show();
                }
            });
        });
    });
</script>