@{
    ViewBag.Title = "Stage3DDLSearch";
}
<link href="~/Content/css/select2.min.css" rel="stylesheet" />

<h2>Stage 3 searchable dropdownlist</h2>

<div class="jumbotron">
    <select class="stages" style="width:300px;"></select>
</div>

<script>
    $(document).ready(function () {
        $(".stages").select2({
            placeholder: "Select stage",
            allowClear: true,
            theme: "classic",
            ajax: {
                url: "/Info/Stage3DDLSearch",
                datatype: 'json',
                delay: 250,
                data: function (params) {
                    return {
                        search: params.term
                    };
                },
                processResults: function (data, params) {
                    return {
                        results: data.Results
                    };
                }
            }
        });
    });
</script>
<script src="~/Scripts/select2.min.js"></script>