@model IEnumerable<API.Models.stage3>

@{
    ViewBag.Title = "Stage3DDLSearch";
}

<h2>Quickly Generate Invoice</h2>

@using (Html.BeginForm("Stage3DDLSearch", "stage3", FormMethod.Get))
{
    @Html.AntiForgeryToken()

    @Html.DropDownList("stage3search", (SelectList)ViewBag.stage3List, "Select stage3", new { @class = "form-control" })
    <input type="submit" value="Search" class="btn btn-primary" />
}

@if (Model != null && Model.Any())
{
    foreach (var item in Model)
    {
        @Html.DisplayFor(model => item.stage3_name)
    }
}