



body {
	background-color: grey;
}


h1 {
	font-family: TimesNewRoman; font-size: 25px;
	border: 1px solid black;
	text-align: center;
	background-color: black;
	color: red;

}

p {
	font-family: TimesNewRoman; font-size: 12px;
}

			/*Main meny*/

ul.mainmeny {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color: dimgrey;
}

li.mainmeny {
     float: left;
     text-align: center;
     display: block;
     padding-right: 10px;
}


/*div grid*/
div.staticinfo {
    float: left;
    background-color: white;
    color: black;
    width: 70%;
    margin-bottom: 1%;
    padding: 1%;
}

div.mainmeny {
    float: left;
    width: 72%;
    padding: 1%, 0, 1%, 0;
}

div.sidebar {
    float: right;
    background-color: dimgrey;
    color: white;
    width: 25%;
    padding: 1%;
    height: 100%;
}

div.info {
	float: left;
	background-color: white;
	color: black;
	width: 70%;
    padding: 1%;
    padding-top: 0;
}

div.buttom {
    background-color: black;
    margin-top: 100px;
    height: 20px;
    clear: both;
}