<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:left">
  <h1>
    {{ title }}
  </h1>
</div>
<div class="admin">
  <label class="dropdown">Stage 1</label><br />
  <label class="dropdown">Stage 2</label><br />
  <label class="dropdown">Stage 3</label><br />
  <label> Selected stage</label>
  <label class="dropdown">Stage 4</label><br />
  <h3>Header</h3><br />
  <label class="helptext">Short summary</label>
  <label class="helptext">Long helptext</label><br />
  <label>Write tags</label>
  <button>Add help</button>
</div>
